html {
  font-size: 16px;
  font-family: Helvetica, sans-serif;
}
head {
  display: none;
}
body {
  font-family: Verdana;
  width: 100%;
  line-height: 1;
  display: block;
  font-size: 100%;
  vertical-align: baseline;
}
#container {
  font-family: 'Open Sans', sans-serif;
  color:#585858;
  margin:0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.logo img {
  margin-top: -10px;
  height: 3rem;
}
.logo {
  display: flex;
  align-items: center;
  margin-left: 2.2rem;
  font-size: 1.2rem;
  padding: 1.7rem 0;
  flex-direction: row;
}
.logo span:first-child {
  font-weight: bold;
}
.logo span:last-child {
  color: #C0C0C0;
}
header {
  display: flex;
  height: 4.5rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: white;
  width: 100%;
  height: 64px;
  text-align: center;
}
.span {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  display: flex;
  margin-top: 15px;
  align-items: center;
  color: black;

}
.nav {
  position: absolute;
  right: 24px;
  display: block;
}
.nav a {
  justify: flex-end;
  color: black;
  align-items: center;
  display: inline-block;
  padding: 16px;
  text-decoration: none;
}
#header-mobile {
  display: none;
}
.section-1 {
  margin: auto;
  background-color: #D0D0D0;
  padding: 2.2rem 1.7rem;
  font: 100%;
  vertical-align: baseline;
  display: block;
}
.first {
  display: flex;
  flex-direction: row;
}
.mainpic {
  width: 60%;
  margin-right: 2.8rem;
  margin-top: 64px;

}
.mainpic img {
  width: 100%;
  display: block;
  background-position: center;
  background-size: cover;
}
.maintext {
  width: 40%;
  margin: 7.1rem auto;
  text-align: left;
}
.maintext p {
  margin-bottom: 3.5rem;
  width: 75%;
}
.maintext p:first-child {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: normal;
}
.maintext p:last-child {
  font-size: 1.7rem;
  font-weight: normal;
  line-height: normal;
}
.maintext a {
  width: 50%;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
  color: white;
  background-color: #606060;
  float: left;
}
.section-2 {
  display: block;
  font: inherit;
  vertical-align: baseline;
  display: block;
}
.second {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: white;
}
.group {
  width: 60%;
  padding: 2.2rem 1.7rem;
  border-right: 1px solid #C8C8C8;
}
p {
  display: block;
}
.group .image img {
  width: 100%;
  background-position: center;
  background-size: cover;
}
.group .secondtext {
  margin: 2.2rem 1.7rem 2.2rem 0;
  display: flex;
  flex-direction: column;
}
.group .secondtext span:first-child {
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 1.7rem;
}
.group .secondtext span:last-child {
  line-height: 1.5;
  font-weight: lighter;
}
.group .secondtext span {
  margin-top: 2.2rem;
}
.second .info {
  width: 30.2rem;
  margin-top: 1.1rem;
  display: flex;
  flex-direction: column;
  vertical-align: baseline;
  display: block;
}
.info .options {
  height: auto;
  border-bottom: 1px solid #C8C8C8;
  padding: 1.1rem;
  display: flex;
}
.info .options:last-child {
  background-color: #C8C8C8;
}
.info .fullscreen {
  width: 35%
}
.info .fullscreen img {
  width: 100%;
}
.info .mobile {
  display: none;
}
.info .topics {
  width: 55%;
  padding-top: 1.4rem;
  padding-left: 1.4rem;
  line-height: initial;
  display:flex;
  flex-direction: column;
}
.info .topics .title {
  font-weight: 600;
  font-size: 1.2rem;
  color: #333333;
}
.info .topics .text {
  font-weight: lighter;
  padding: 0.5rem 0;
}
.info .text {
  display: flex;
  flex-direction: column;
}
.info .topics .more {
  line-height: 5;
  color: #66CCFF;
}
.section-3 {
  background-color: #F1F1F1;
  font: inherit;
  vertical-align: baseline;
  display: block;
  font-size: 100%;
}
.third {
  margin: auto;
  display: flex;
  flex-direction: column;
}
.third .title {
  width: 100%;
  margin: 2.2rem auto;
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
}
.program {
  width: 80%;
  margin: auto;
  padding-left: 17%;
  padding-bottom: 2.2rem;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.program .learning {
  height: 20rem;
  width: 20rem;
  margin-right: 2.2rem;
  margin-bottom: 1.7rem;
  padding-bottom: 1.7rem;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
}
.program p img {
  width: 100%;
  height: auto;
}
.learning .title {
  margin-top: 1.1rem;
  margin-left: 1.1rem;
  font-size: 1.2rem;
  font-weight: 600;
}
.learning .course {
  margin: 0.5rem 1.1rem;
}
.learning .description {
  margin-left: 1.1rem;
  margin-bottom: 1.7rem;
  line-height: normal;
}
.learning .course, .learning .description {
  font-weight: lighter;
  color: #A0A0A0;
}
.section-4 {
  background-color: #FFFFFF;
}
.section-4 .title {
  width: 100%;
  margin: 2.2rem auto;
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
}
.fourth {
  display: flex;
  flex-direction: row;
}
.video {
  width: 60%;
  margin: 0 1.7rem;
  padding-bottom: 2.2rem;
}
.video-screen-1 {
  padding-bottom: 1.7rem;
}
video {
  width: 100%;
  object-fit: contain;
}
.video-screen-2 {
  display: flex;
  flex-direction: column;
}
.video-screen-2 span:first-child {
  font-weight: 600;
  padding-bottom: 0.5rem;
}
.video-screen-2 span:last-child {
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
}
.thesis {
  width: 40%;
  display: flex;
  flex-direction: column;
}
.thesis .choice:first-child {
  background-color: #C8C8C8;
}
.thesis .choice {
  width: 30.2rem;
  height: 12rem;
  display: flex;
  flex-direction: row;
}
.thesis .choice img {
  width: 35%;
  padding: 1.1rem;
}
.choice .text {
  display: flex;
  flex-direction: column;
}
.section-4 .title {
  width: 100%;
  margin: 2.2rem auto;
}
.choice .text .title {
  font-size: 1.2rem;
  margin-top: 2.2rem;
  font-weight: 600;
  color: #333333;
  text-align: left;
}
.choice .text .description {
  font-weight: lighter;
  line-height: 1.5;
}
footer {
  border-top: 1px solid #BEBEBE;
  padding-top: 1.1rem;
  padding-left: 1.7rem;
  padding-bottom: 3.5rem;
  display: flex;
  flex-direction: row;
}
.terms {
  margin-left: 65%;
}
.terms span {
  padding-right: 0.7rem;
}
